<!-- <ngb-carousel *ngIf="images"> -->
<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <!-- <img [src]="images[0]" alt="Random first slide" > -->
            <img src="assets/images/slide-05.jpg" alt="Random first slide" style="width: 100%; height: 95vh">
            <a href="#" class="slider-text"
                style="text-decoration: none;">
                <h1 class="quote">You can have anything you want in life if you dress for it.</h1>
            </a>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <!-- <img [src]="images[1]" alt="Random second slide"> -->
            <img src="assets/images/slide-06.jpg" alt="Random first slide" style="width: 100%; height: 95vh">
            <a href="#" class="slider-text"
                style="text-decoration: none;">
                <h1 class="quote">Fashion is like eating, you shouldn't stick to the same menu.</h1>
            </a>
        </div>
            </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <!-- <img [src]="images[2]" alt="Random third slide"> -->
            <img src="assets/images/slide-07.jpg" alt="Random first slide" style="width: 100%; height: 95vh">
            <a href="#" class="slider-text"
                style="text-decoration: none;">
                <h1 class="quote">Style is a way to say who you are without having to speak.</h1>
            </a>
        </div>
            </ng-template>
</ngb-carousel>

<!-- Banner -->
<div class="sec-banner bg0 p-t-80 p-b-50">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="assets/images/banner-01.jpg" alt="IMG-BANNER">

                    <a routerLink="/products" (click)="setProdCategory('Women')" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3"
                        style="text-decoration: none;">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8">
                                Women
                            </span>

                            <span class="block1-info stext-102 trans-04">
                                Spring 2018
                            </span>
                        </div>

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                Shop Now
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="assets/images/banner-02.jpg" alt="IMG-BANNER">

                    <a routerLink="/products" (click)="setProdCategory('Men')" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3"
                        style="text-decoration: none;">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8">
                                Men
                            </span>

                            <span class="block1-info stext-102 trans-04">
                                Spring 2018
                            </span>
                        </div>

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                Shop Now
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="assets/images/banner-03.jpg" alt="IMG-BANNER">

                    <a routerLink="/products" (click)="setProdCategory('Accessories')" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3"
                        style="text-decoration: none;">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8">
                                Accessories
                            </span>

                            <span class="block1-info stext-102 trans-04">
                                New Trend
                            </span>
                        </div>

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                Shop Now
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="assets/images/banner-08.jpg" alt="IMG-BANNER">

                    <a routerLink="/products" (click)="setProdCategory('Bag')" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3"
                        style="text-decoration: none;">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8">
                                Bags
                            </span>

                            <span class="block1-info stext-102 trans-04">
                                Spring 2018
                            </span>
                        </div>

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                Shop Now
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="assets/images/banner-07.jpg" alt="IMG-BANNER">

                    <a routerLink="/products" (click)="setProdCategory('Watches')" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3"
                        style="text-decoration: none;">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8">
                                Watches
                            </span>

                            <span class="block1-info stext-102 trans-04">
                                Spring 2018
                            </span>
                        </div>

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                Shop Now
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="assets/images/banner-09.jpg" alt="IMG-BANNER">

                    <a routerLink="/products" (click)="setProdCategory('Shoes')" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3"
                        style="text-decoration: none;">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8">
                                Shoes
                            </span>

                            <span class="block1-info stext-102 trans-04">
                                Spring 2018
                            </span>
                        </div>

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                Shop Now
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>