<!-- Content page -->
<section class="bg0 p-t-104 p-b-116">
    <div class="container">
        <div class="flex-w flex-tr">
            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                <form #DeliveryForm="ngForm" (ngSubmit)="DeliveryForm.valid && onSubmit(DeliveryForm)">
                    <h4 class="mtext-105 cl2 txt-center p-b-30">
                        Delivery Address.
                    </h4>
                    <div class="bor8 m-b-20 how-pos4-parent">

                        <input type="text" class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" #name="ngModel"
                            [(ngModel)]="userservice.selectedUser.name" name="name" placeholder="Full Name"
                            maxlength="30" required
                            [ngClass]="{'invalid-textbox' :DeliveryForm.submitted && !name.valid }">
                        <div *ngIf="DeliveryForm.submitted && !name.valid">
                            <label class="validation-message">This field is required.</label>
                        </div>
                    </div>

                    <div class="bor8 m-b-20 how-pos4-parent">


                        <input type="text" class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" #email="ngModel"
                            [(ngModel)]="userservice.selectedUser.email" name="email" placeholder="Email" maxlength="50"
                            required [pattern]="emailRegex"
                            [ngClass]="{'invalid-textbox' :DeliveryForm.submitted && !email.valid }">
                        <div *ngIf="DeliveryForm.submitted && email.errors">
                            <label *ngIf="email.errors.required" class="validation-message">This field is
                                required.</label>
                            <label *ngIf="email.errors.pattern" class="validation-message">Invalid email
                                address.</label>
                        </div>
                    </div>

                    <div class="bor8 m-b-30">
                        <input type="text" class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" #phone="ngModel"
                            [(ngModel)]="userservice.selectedUser.phone" name="phone" placeholder="Mobile number"
                            minlength="10" maxlength="10" required
                            [ngClass]="{'invalid-textbox' :DeliveryForm.submitted && !phone.valid }">
                        <div *ngIf="DeliveryForm.submitted && phone.errors">
                            <label *ngIf="phone.errors.required" class="validation-message">This field is
                                required.</label>
                            <label *ngIf="phone.errors.minlength" class="validation-message">Invalid Mobile
                                Number</label>
                        </div>
                    </div>

                    <div class="bor8 m-b-30">
                        <input type="text" class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" #addressLine="ngModel"
                            [(ngModel)]="userservice.selectedUser.address.addressLine" name="addressLine"
                            placeholder="addressLine" maxlength="50" required
                            [ngClass]="{'invalid-textbox' :DeliveryForm.submitted && !addressLine.valid }">
                        <div *ngIf="DeliveryForm.submitted && addressLine.errors">
                            <label *ngIf="addressLine.errors.required" class="validation-message">Please give your
                                address.</label>
                        </div>
                    </div>

                    <div class="bor8 m-b-30">
                        <input type="text" class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" #city="ngModel"
                            [(ngModel)]="userservice.selectedUser.address.city" name="city" placeholder="City"
                            maxlength="15" required
                            [ngClass]="{'invalid-textbox' :DeliveryForm.submitted && !city.valid }">
                        <div *ngIf="DeliveryForm.submitted && city.errors">
                            <label *ngIf="city.errors.required" class="validation-message">Please mention city.</label>
                        </div>
                    </div>

                    <div class="bor8 m-b-30">
                        <input type="text" class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" #state="ngModel"
                            [(ngModel)]="userservice.selectedUser.address.state" name="state" placeholder="State"
                            maxlength="15" required
                            [ngClass]="{'invalid-textbox' :DeliveryForm.submitted && !state.valid }">
                        <div *ngIf="DeliveryForm.submitted && state.errors">
                            <label *ngIf="state.errors.required" class="validation-message">Please mention
                                state.</label>
                        </div>
                    </div>

                    <div class="bor8 m-b-30">
                        <input type="text" class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" #zipcode="ngModel"
                            [(ngModel)]="userservice.selectedUser.address.zipcode" name="zipcode" placeholder="ZipCode"
                            maxlength="15" required
                            [ngClass]="{'invalid-textbox' :DeliveryForm.submitted && !zipcode.valid }">
                        <div *ngIf="DeliveryForm.submitted && zipcode.errors">
                            <label *ngIf="zipcode.errors.required" class="validation-message">Please mention
                                zipcode.</label>
                        </div>
                    </div>

                    <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer m-b-20"
                        type="submit">
                        Place Order
                    </button>

                </form>





            </div>

            <div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md" style="background-image: url('assets/images/gallery-04.jpg');">
                <div class="flex-w w-full p-b-42">
                    <span class="fs-18 txt-center size-211" style="color: white;">
                        
                    </span>

                    <div class="size-212 p-t-2">
                        <h4 class="mtext-105  txt-center p-b-30" style="font-size: 20px;color: white;">
                            Please Check or Update Your Address Details Before Placing the Order.
                        </h4>
                        
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</section>