body, html {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #666666;
}

.options {

    border: 1px solid #e5e5e5;
    padding: 10px;
}

select {
        font-size: 14px;
        border: none;
        width: 100%;
        background: white;
    }

input {
    background: #ffffff;
    border: 1px solid #e5e5e5;
} 

.block2 {
    padding: 20px;
}

.success{
    border-radius: 10px;
    margin-top: 10px;
}



