<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Categories</h5>
					<ul class="list-unstyled quick-links">
						<li><a routerLink="/products" (click)="setProdCategory('Women')"><i class="fa fa-angle-double-right"></i>Women</a></li>
						<li><a routerLink="/products" (click)="setProdCategory('Men')"><i class="fa fa-angle-double-right"></i>Men</a></li>
						<li><a routerLink="/products" (click)="setProdCategory('Shoes')"><i class="fa fa-angle-double-right"></i>Shoes</a></li>
						<li><a routerLink="/products" (click)="setProdCategory('Watches')"><i class="fa fa-angle-double-right"></i>Watches</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Help</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Track Order</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Returns</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>Shipping</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i>FAQs</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Get in touch</h5>
					<p class="text-white">
						Any questions? Let us know in store at 3rd floor, Whitefield, Bangalore, IN 560066 or call us on (+91) 99 716 68796
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				<hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><u><a href="#">YourStyle Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. India [a wholly owned subsidiary of Capgemni, Bangalore, INDIA]</p>
					<p class="h6">© All right Reversed.<a class="text-green ml-2" href="#" target="_blank">Suhail</a></p>
				</div>
				<hr>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->